{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block content %}

{% load static %}

   <!-- Row start -->
   <div class="row justify-content-md-center gutters">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="invoice-container" id="invoice">
                    <!-- Row start -->
                    <div class="row gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <img src="{% static 'front/img/unify.png' %}" class="invoice-logo" alt="Unify" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h3 class="text-right text-secondary">Reçu - 00{{ payment.id }} </h3>
                        </div>
                    </div>
                    <!-- Row end -->
                    
                    <div class="spacer30"></div>

                    <!-- Row start -->
                    <div class="row gutters">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p>Bonjour, {{ payment.client.last_name }} {{ payment.client.first_name }}.</p>
                            <p>Merci d'avoir acheté votre carte chez nous.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="text-right">COMMANDE <span class="text-primary">#{{ payment.slug|slice:10 }}</span></p>
                            <p class="text-right"><small>{{ payment.payment_date }}</small></p>
                        </div>
                    </div>
                    <!-- Row end -->

                    <div class="spacer50"></div>

                    <!-- Row start -->
                    <div class="row gutters">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <table class="table plain">
                                <tbody><tr>
                                    <td>
                                        <p class="text-right">Sous-total</p>
                                        <p class="text-right text-secondary">Total Général<strong> </strong></p>
                                    </td>
                                    <td>
                                        <p class="text-right"> {{ payment.montant }} XOF </p>
                                        <p class="text-right text-secondary"><strong>{{ payment.montant }} XOF</strong></p>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                    <!-- Row end -->

                    <div class="spacer20"></div>

                    <!-- Row start -->
                    <div class="row gutters">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="text-uppercase">
                                <strong>Informations de facturation</strong>
                            </p>
                            <address>
                                <strong> {{ payment.client.last_name }} {{ payment.client.first_name }} </strong><br>
                                {{ payment.client.address | slice:50 }}<br>
                                {{ payment.client.city }}, {{ payment.client.country.name }} <br>
                                {{ payment.client.email }} <br>
                                +225{{ payment.client.contact_one }} <br>
                            </address>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="text-uppercase">
                                <strong>Methode de payement</strong>
                            </p>
                            <address>
                                <strong>{{ payment.payment_method }} </strong><br>
                                Transaction ID: #{{ payment.transaction_id }}<br><br>
                            </address>
                        </div>
                    </div>
                    <!-- Row end -->

                    <div class="spacer30"></div>

                    <!-- Row start -->
                    <div class="row gutters">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="text-uppercase">
                                <strong>Information de la Carte</strong>
                            </p>
                            <address>
                                <p class="m-0">
                                    {{ payment.carte.carte_num }} <br>
                                    {{ payment.carte.type_carte.name }}
                                </p>
                            </address>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>
            </div>
            <div class="card-footer mt-3">
                <button class="btn btn-success btn-sm mx-1 float-right" id="print">Imprimer le reçu</button>
                <a href="{{ payment.carte.type_carte.rechargement_url }}" target="blank" class="btn btn-primary btn-sm mx-1 float-right" id="print">Activer la carte</a>
            </div>
        </div>
    </div>
</div>
<!-- Row end -->
  
{% endblock content %}

{% block PrintScripts %}

    {{ payment.slug | json_script:"json-paymentslug" }}

    <script>

        let paymentSlug = JSON.parse(document.querySelector('#json-paymentslug').textContent);

        $("#print").on('click', function () {
            $('#invoice').printThis({
                importCSS: true,
                base: `${window.location.href}`
            });
        });

    </script>

{% endblock PrintScripts %}